@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
  url(../public/fonts/Oswald-VariableFont_wght.ttf)
  format("truetype");
}

@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display"),
    url(../public/fonts/PlayfairDisplay-VariableFont_wght.ttf)
      format("truetype");
}

@layer base {
  body {
    margin: 0;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Press Start 2P", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  }

  ::selection {
    background-color: rgba(147, 10, 239, 0.7);
  }

}

@layer components {
  .team-item {
    @apply bg-white/90 h-[320px] overflow-hidden rounded;
  }

  .faq-item {
    @apply w-full text-white;
  }

  .row-title-text {
    @apply font-medium text-2xl;
  }
}
